/* 
    Document   : tempPop
    Created on : 21 nov. 2012, 11:25:54
    Author     : Sparks
    Description:
        Purpose of the stylesheet follows.
*/

@font-face {
	font-family: BebasNeue;
	src: url('polices/BebasNeue.otf');
}

@font-face {
	font-family: Myriadpro;
	src: url('polices/MYRIADPRO-REGULAR.OTF');
}

@font-face {
	font-family: Asafeplacetofall;
	src: url('polices/ASafePlacetoFall.ttf');
}

/* ---------------------------------------------------------------------------------- */
/* --------------------------------------------------------------------------- */
/* --------------------------------------------------------------------- */
/* --------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------- */

/* Popup contenant les stats avancé du personnage */

.divSta {
    width: 500px;

    font-family: Myriadpro, Georgia;

    display: inline-block;

    vertical-align: middle;
}
.divSta #extBarre2 {
    width: 100%;
    height: 20px;

    padding: 0;
    margin: 0;
    margin-top: 50px;

    border: 1px solid black;

    overflow:  hidden;

    background-color: #ffffff;
}
.divSta #intBarre2 {
    display: inline-block;
    height: 20px;

    text-align: center;
    vertical-align: middle;

    color: #2c2c2c;

    margin: 0;
    padding: 0;
    
    background-color: #62c462;
}
.divSta #reste {
    display: inline-block;
    height: 20px;

    text-align: center;
    vertical-align: middle;

    color: #2c2c2c;

    margin: 0;
    padding: 0;
}

.divSta .separate {
    position: absolute;
    margin: 0;
    padding: 0;
    margin-top: -5px;
    
    height: 5px;
    width: 50px;
    
    border-right: 1px solid black;
    border-left: 1px solid black;
}
.divSta #total {
    position: absolute;
    margin: 0;
    padding: 0;
    margin-top: -25px;
    
    width: 500px;
    height: 25px;
    
    text-align: center;
    
    border-right: 1px solid black;
    border-left: 1px solid black;
}
.divSta #after {
    position: absolute;
    margin: 0;
    padding: 0;
    margin-top: -45px;
    
    width: 150px;
    height: 20px;
    
    text-align: center;
    
    border: 1px solid black;
}
.divSta #before {
    position: absolute;
    margin: 0;
    padding: 0;
    margin-top: -45px;
    margin-left: 350px;
    
    width: 150px;
    height: 20px;
    
    text-align: center;
    
    border: 1px solid black;
}

/* ---------------------------------------------------------------------------------- */
/* --------------------------------------------------------------------------- */
/* --------------------------------------------------------------------- */
/* --------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------- */




#resultRecherche {
    width: 600px;
    margin: auto;
    margin-top: 10px;
    
    padding-bottom: 15px;
    
    color: #d3d3d3;
}

#resultRecherche .affResult {
    width: 100%;
    height: 80px;
    
    margin: 5px;
}
#resultRecherche .affResult img {
    float: left;
    margin: 5px;

    height: 80px;
}
#resultRecherche a {
    text-decoration: none;
    font-family: Myriadpro, Georgia;
	
	color: inherit;
    
    -moz-transition-property: color;
	-webkit-transition-property: color;
	-o-transition-property: color;
        /* La transition durera trois secondes. */
        -moz-transition-duration: 0.5s;
	    -webkit-transition-duration: 0.5s;
	    -o-transition-duration: 0.5s;
}
#resultRecherche a:hover {
    color: white;
}
#resultRecherche .affResult p {
    height: 80px;
    width: 510px;
    
    padding-top: 35px;
    
    text-align: center;
}
#resultRecherche .noResult {
    height: 60px;
    width: 510px;
    margin: auto;
    
    padding-top: 35px;
    
    font-family: Myriadpro, Georgia;
    font-size: 1.5em;
    text-align: center;
}

/* ---------------------------------------------------------------------------------- */
/* --------------------------------------------------------------------------- */
/* --------------------------------------------------------------------- */
/* --------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------- */

#recherche {
	width: 600px;
	height: 35px;
	
	padding-top: 15px;
	
	margin: auto;
	text-align: center;
	
	color: white;
	
	background-color: #4187A1;
	
}
#recherche #cherche {
	
}

#resultRecherche {
    background-color: #4187A1;
}
#resultRecherche a {
    color: #333333;
}
#resultRecherche p {
    color: #333333;
}
/* ---------------------------------------------------------------------------------- */
/* --------------------------------------------------------------------------- */
/* --------------------------------------------------------------------- */
/* --------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------- */

#OS2_armurerie #onePerso {
    width: 600px;
    margin: 0 auto;
    margin-top: 20px;
}

#OS2_armurerie .vueArmurerie {
	
}

#OS2_armurerie #infosPerso {
    width: 100%;
    margin: auto;

    background-color: #4187A1;

    color: #333333;
    
    -moz-transition-property: color;
	-webkit-transition-property: color;
	-o-transition-property: color;
        /* La transition durera trois secondes. */
        -moz-transition-duration: 0.5s;
	    -webkit-transition-duration: 0.5s;
	    -o-transition-duration: 0.5s;
}

#OS2_armurerie #infosPerso .avatar {
    float: left;
    margin: 5px;

    height: 80px;
}
#OS2_armurerie #infosPerso div {
    height: 20px;

    margin-top: 3px;
}

#OS2_armurerie #infosPerso #name {
    width: 410px;
    margin: auto;

    display: inline-block;

    text-align: center;
    vertical-align: middle;

    font-family: BebasNeue, Georgia;
    font-size: 1.3em;
    
    -moz-transition-property: color;
	-webkit-transition-property: color;
	-o-transition-property: color;
        /* La transition durera trois secondes. */
        -moz-transition-duration: 0.5s;
	    -webkit-transition-duration: 0.5s;
	    -o-transition-duration: 0.5s;
}
#OS2_armurerie #infosPerso #niveau {
    width: 500px;
    height: 50px;

    font-family: Myriadpro, Georgia;

    display: inline-block;

    vertical-align: middle;
}
#OS2_armurerie #infosPerso #niveau .right {
    float: right;
}
#OS2_armurerie #infosPerso #extBarre {
    width: 100%;
    height: 20px;

    padding: 0;
    margin: 0;

    border: 1px solid black;

    overflow:  hidden;

    background-color: #ffffff;
}
#OS2_armurerie #infosPerso #intBarre {
    height: 20px;

    text-align: center;
    vertical-align: middle;

    color: #2c2c2c;

    margin: 0;
    padding: 0;
    
    background-color: #62c462;
}
#OS2_armurerie #infosPerso #titre {
    width: 500px;
    margin-top: -10px;
    margin-bottom: 5px;

    display: inline-block;

    font-size: 0.9em;
    font-family: Asafeplacetofall, Georgia;

    text-align: center;
    vertical-align: middle;
}

/* ---------------------------------------------------------------------------------- */
/* --------------------------------------------------------------------------- */
/* --------------------------------------------------------------------- */
/* --------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------- */

#OS2_armurerie #statsPerso {
    display: table;
}

#OS2_armurerie #statsPerso #armurerie {
    display: table-cell;

    width: 440px;
    height: 100%;

    padding-bottom: 10px;
    background-color: #f5f5f5;
	
    -moz-box-shadow: 0px 2px 5px 0px #4A4A4A inset;
    -webkit-box-shadow: 0px 1px 5px 0px #4A4A4A inset;
    box-shadow: 0px 1px 5px #4A4A4A inset;
}
#OS2_armurerie #statsPerso #statsPanel {
    display: table-cell;

    width: 170px;
    height: 100%;

    background-color: #4187A1;

    color: white;
}


#OS2_armurerie #statsPerso #armurerie #dofus {
    display: inline-block;

    position: relative;
    top: -15px;

    width: 50px;
}
#OS2_armurerie #statsPerso #armurerie #dofus .dof {
    width: 43px;
    height: 43px;
    margin: 3px;

    text-align: center;

    cursor: pointer;
}
#OS2_armurerie #statsPerso #armurerie #dofus .dof img {
    max-width: 43px;
    max-height: 43px;
}

#OS2_armurerie #statsPerso #armurerie #onPerso {
    display: inline-block;

    width: 300px;
    height: 300px;
    
    position: relative;
    top: -10px;

    margin-left: 5px;
    margin-right: 5px;

    border: 1px solid rgb(150,150,150);

    background-image: url("/armurerie/images/personnages/nobody.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 134px 300px;
}
#OS2_armurerie #statsPerso #armurerie #itemRight {
    display: inline-block;

    position: relative;
    top: -120px;

    width: 63px;
}
#OS2_armurerie #statsPerso #armurerie .item {
    width: 40px;
    height: 40px;

    cursor: pointer;

    overflow: hidden;

    border: 1px solid rgb(150,150,150);

    opacity: 0.8;

    background-color: #f5f5f5;

    /* 50% 50%, circle, cover,  */
}
#OS2_armurerie #statsPerso #armurerie .item img {
    width: 40px;
    height: 40px;
}
#OS2_armurerie #statsPerso #armurerie #itemRight .item {
    margin: 10px 0;
}
#OS2_armurerie #statsPerso #armurerie #onPerso .item {
    position: relative;
}
#OS2_armurerie #statsPerso #armurerie #onPerso .pos15 {
    top: 25px;
    left: 50px;

    width: 50px;
    height: 50px;
}
#OS2_armurerie #statsPerso #armurerie #onPerso .pos1 {
    top: -25px;
    left: 210px;

    width: 50px;
    height: 50px;
}
#OS2_armurerie #statsPerso #armurerie #onPerso .pos1 img, #OS2_armurerie #statsPerso #armurerie #onPerso .pos15 img {
    width: 50px;
    height: 50px;
}
#OS2_armurerie #statsPerso #armurerie #onPerso .pos0 {
    top: -20px;
    left: 130px;
}
#OS2_armurerie #statsPerso #armurerie #onPerso .pos2 {
    top: 10px;
    left: 80px;
}
#OS2_armurerie #statsPerso #armurerie #onPerso .pos3 {
    top: -25px;
    left: 130px;
}
#OS2_armurerie #statsPerso #armurerie #onPerso .pos4 {
    top: -75px;
    left: 180px;
}
#OS2_armurerie #statsPerso #armurerie #onPerso .pos5 {
    top: -20px;
    left: 130px;
}

/* --------------------------------------------------------- */

#OS2_armurerie #statsPerso #statsPanel .titre {
    font-family: Myriadpro, Georgia;
    font-size: 1.2em;
}
#OS2_armurerie #statsPerso #statsPanel .stati {
    width: 160px;
    height: 20px;

    margin: 8px auto;

    text-align: center;

    background-color: #f5f5f5;
    color: #333333;

    -moz-box-shadow: 0px 2px 5px 0px #4A4A4A inset;
    -webkit-box-shadow: 0px 1px 5px 0px #4A4A4A inset;
    box-shadow: 0px 1px 5px #4A4A4A inset;
}
#OS2_armurerie #statsPerso #statsPanel .stati span {
    display: inline-block;
    width: 100%;
}
#OS2_armurerie #statsPerso #statsPanel .stati img {
    float: left;
    height: 20px;
}
#OS2_armurerie #statsPerso #statsPanel #copyright {
    margin-top: 20px;
}
#OS2_armurerie #statsPerso #statsPanel #copyright a {
    text-decoration: none;
}
#OS2_armurerie #statsPerso #statsPanel #copyright p {
    width: 100%;
    margin: 2px;
    
    text-align: center;
    font-size: 0.8em;
    color: #d3d3d3;
    
    text-decoration: none;
    
    -moz-transition-property: color;
	-webkit-transition-property: color;
	-o-transition-property: color;
        /* La transition durera trois secondes. */
        -moz-transition-duration: 0.5s;
	    -webkit-transition-duration: 0.5s;
	    -o-transition-duration: 0.5s;
}
#OS2_armurerie #statsPerso #statsPanel #copyright p:hover {
    color: rgb(48, 47, 43);
}

/* --------------------------------------------------------- */


/* ---------------------------------------------------------------------------------- */
/* --------------------------------------------------------------------------- */
/* --------------------------------------------------------------------- */
/* --------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------- */

/* Style des popups */

.OS2popStatsGlobalPerso {
	width: 520px;
	
	padding: 5px;
	
	color: black;
	font-size: 14px;
	
	background-color: #4187A1;
	
	border: 1px solid #9a9a9a;
}