/* 
    Document   : tempPop
    Created on : 21 nov. 2012, 11:25:54
    Author     : Sparks
    Description:
        Purpose of the stylesheet follows.
*/

@font-face {
	font-family: BebasNeue;
	src: url('polices/BebasNeue.otf');
}

@font-face {
	font-family: Myriadpro;
	src: url('polices/MYRIADPRO-REGULAR.OTF');
}

@font-face {
	font-family: Asafeplacetofall;
	src: url('polices/ASafePlacetoFall.ttf');
}

/* ---------------------------------------------------------------------------------- */
/* --------------------------------------------------------------------------- */
/* --------------------------------------------------------------------- */
/* --------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------- */

.divSta {
    width: 500px;

    font-family: Myriadpro, Georgia;

    display: inline-block;

    vertical-align: middle;
}
.divSta #extBarre2 {
    width: 100%;
    height: 20px;

    padding: 0;
    margin: 0;
    margin-top: 50px;

    border: 1px solid black;

    overflow:  hidden;

    background-color: #ffffff;
}
.divSta #intBarre2 {
    display: inline-block;
    height: 20px;

    text-align: center;
    vertical-align: middle;

    color: #2c2c2c;

    margin: 0;
    padding: 0;
    
    background-color: #62c462;
}
.divSta #reste {
    display: inline-block;
    height: 20px;

    text-align: center;
    vertical-align: middle;

    color: #2c2c2c;

    margin: 0;
    padding: 0;
}

.divSta .separate {
    position: absolute;
    margin: 0;
    padding: 0;
    margin-top: -5px;
    
    height: 5px;
    width: 50px;
    
    border-right: 1px solid black;
    border-left: 1px solid black;
}
.divSta #total {
    position: absolute;
    margin: 0;
    padding: 0;
    margin-top: -25px;
    
    width: 500px;
    height: 25px;
    
    text-align: center;
    
    border-right: 1px solid black;
    border-left: 1px solid black;
}
.divSta #after {
    position: absolute;
    margin: 0;
    padding: 0;
    margin-top: -45px;
    
    width: 150px;
    height: 20px;
    
    text-align: center;
    
    border: 1px solid black;
}
.divSta #before {
    position: absolute;
    margin: 0;
    padding: 0;
    margin-top: -45px;
    margin-left: 350px;
    
    width: 150px;
    height: 20px;
    
    text-align: center;
    
    border: 1px solid black;
}

/* ---------------------------------------------------------------------------------- */
/* --------------------------------------------------------------------------- */
/* --------------------------------------------------------------------- */
/* --------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------- */




#resultRecherche {
    width: 600px;
    margin: auto;
    margin-top: 10px;
    
    padding-bottom: 15px;
    
    color: #d3d3d3;
}

#resultRecherche .affResult {
    width: 100%;
    height: 80px;
    
    margin: 5px;
}
#resultRecherche .affResult img {
    float: left;
    margin: 5px;

    height: 80px;
}
#resultRecherche a {
    text-decoration: none;
    font-family: Myriadpro, Georgia;
	
	color: inherit;
    
    -moz-transition-property: color;
	-webkit-transition-property: color;
	-o-transition-property: color;
        /* La transition durera trois secondes. */
        -moz-transition-duration: 0.5s;
	    -webkit-transition-duration: 0.5s;
	    -o-transition-duration: 0.5s;
}
#resultRecherche a:hover {
    color: white;
}
#resultRecherche .affResult p {
    height: 80px;
    width: 510px;
    
    padding-top: 35px;
    
    text-align: center;
}
#resultRecherche .noResult {
    height: 60px;
    width: 510px;
    margin: auto;
    
    padding-top: 35px;
    
    font-family: Myriadpro, Georgia;
    font-size: 1.5em;
    text-align: center;
}


/* ---------------------------------------------------------------------------------- */
/* --------------------------------------------------------------------------- */
/* --------------------------------------------------------------------- */
/* --------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------- */

/* Le bloc #statsPerso fait toujours les mêmes tailles */
#OS2_armurerie {
    width: 662px;
    height: 600px;
    margin: 0 auto;
}

#OS2_armurerie #slider {
    display: inline-block;
    
    width: 602px;
    height: 442px;
    margin: 0 auto;
    margin-top: 20px;
    
    overflow: hidden;
    
    -moz-box-shadow: 0px 2px 5px 0px #4A4A4A;
    -webkit-box-shadow: 0px 1px 5px 0px #4A4A4A;
    box-shadow: 0px 1px 5px 0px #4A4A4A;
}

#prevSlide,#nextSlide{
    display: inline-block;
    position: relative;
	width:30px;
    height:50px;
	top:-200px;
	cursor:pointer;
}


#OS2_armurerie #onePerso {
    width: 602px;
    margin: 0 auto;
    margin-top: 20px;
}

#OS2_armurerie .vueArmurerie {
    float:left;
	position:relative;
    width: 600px;
    height: 441px;
}

#OS2_armurerie #statsPerso {
    width: 100%;
    height: 330px;
}
